@import "~bootstrap/scss/bootstrap.scss";

/*

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: #151515;
}
.header{
    background-color: black;
    position: fixed;
}

.smimages{
    height: 45px;
    width: 45px;
    list-style: none;
    padding-right: 20px;
    padding-top: 15px;
    color: #999999
}

#logo{
    height: 150px;
    width: 300px;
    margin-left: 250px;

}

.searchbar{
    padding-top: 15px;
    width: 100%;
}

.login{
    padding-top: 15px;
    text-align: right;
    font-size: 20px;
    color: #a9a9a9
}

.navbar{
    border-style: ridge;
    border-width: 1px;
    border-color: #a9a9a9;
    border-left: 0px;
    border-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 70px;
}

.navbaritems{
    margin-left: auto;
    margin-right: auto;
}

.navbarli{
    display:flex;
    list-style: none;
    border-style: ridge;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    border-color: #a9a9a9;
    color: #a9a9a9;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}